@import "compass/css3/transition";

body * {
  vertical-align: top;
}

body {
  color: #6c6c6c;
  background: rgb(236,236,236);
  font-family: 'Lato', sans-serif;
  margin: 0 0;
}

@mixin contentskin {
  background-color: #b9b9b9;
  margin: 10px;
  // border: 1px solid black;
  border-radius: 6px;
}

@mixin input {
  padding: 0 0 0 0;
  box-shadow: 1px 1px 1px #6c6c6c;

}

 @mixin button ($color, $height, $width) {
  -moz-box-shadow:inset 0px -2px 9px 1px #fce2c1;
  -webkit-box-shadow:inset 0px -2px 9px 1px #fce2c1;
  box-shadow:inset 0px -2px 9px 1px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $color), color-stop(1, #613a36) );
  background:-moz-linear-gradient( center top, $color 5%, #613a36 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef5645', endColorstr='#613a36');
  background-color:#ef5645;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0px;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  height: $height;
  width: $width;
  line-height: $height;
  text-transform: uppercase;
}

.transsheet {
  display: none;
  position: fixed;
  top: 80px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 80;
}

.popupbox { 
    display:none; /* Hide the DIV */
    position:fixed;  
    height:375px; 
    box-shadow: 1px 1px 15px #6c6c6c;
    width:780px;  
    background:#fff;  
    border: 5px solid #6c6c6c;
    left: 300px;
    top: 200px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px; 
    overflow: scroll; 


  .scrollimg {
    display: inline-block;
    height: 300px;
    margin-top: 20px;
    width: 2100px;


    .scrimg {
      display: inline-block;
      margin: 5px 5px;
      float: left;
    }
  }
  .popupboxclose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    font-weight:500;      
  }
}
.container {
  position: relative;
  width: 960px;
  margin: 0px auto;
}

.header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  box-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgb(236,236,236);
  z-index: 50;

  .innerheader {
    position: relative;
    width: 100%;
    padding: 10px;
    display: block;
    margin: auto auto;
    
    .headernav{
      width: 830px;
      position: absolute;
      top: 0;
      height: 100px;
      margin-top: -5px; 
      display: inline-block;
      list-style: none;
      text-transform: uppercase;

      .listitem{
        font-size: 24px;

        &.name {
          text-decoration: underline;
          font-size: 45px;
        }
        &.email {
          font-size: 16px;
          position: absolute;
          right: 0;
          margin-top: -47px;
          @include transition (all .5s ease);
          
          &:hover {
            color:#ef5545;
          }
        }
      }
    }

    .headlogo {
      position: relative;
      height: 70px;
      display: inline-block;
      margin: auto auto;
    }
  }
}

.sectiononewrapper {
  height: 730px;

  .content {
    position: relative;
    height: 520px;
    top: 80px;
    background: url(/images/bg.png) center center no-repeat #000;
    background-size: cover;
    
    .banner {
      line-height: 520px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;

      .head{
        background: rgba(149, 149, 149, 0.52);
        position: relative;
        font-size: 50px;
        border-radius: 6px;
      }
    }

    .letsconnect {
      border-bottom: 1px solid black;
      position: relative;
      height:130px;
      width: 100%;
      line-height: 130px;
      text-align: center;
      text-transform: uppercase;
      background-color: rgb(236,236,236);
      display: inline-block;

      .connect {
        margin-right: 35px;
        font-size: 40px;
      }
      .logo2 {
        vertical-align: middle;
        margin-right: 25px;
        height: 50px;
        width: 50px;
      }
    }  
  }
}

.port {
  padding-top: 20px; 
  height: 425px;
  position: relative;
  line-height: 50px;  
  text-align: center;

  .portfolio {
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    text-transform: uppercase;
    width: 100%;
    position: relative;
  }

  .portscreens {
    margin-top: 20px;
    text-transform: uppercase;

    .screenshot {
      position: relative;
      display: inline-block;
      height: 300px;
      width: 300px;
      border: 5px solid #b9b9b9;
      margin: 0 4px;

      .caption {
        position: absolute;
        bottom: 0px;
        display: none;
        width: 300px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.footer {
  height: 50px;
  background-color: #b9b9b9;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

  .normcontact {
    font-size: 16px;

    .contactfoot {
      color: #fff;
      margin: 0 20px;

      &.email {
        @include transition (all .5s ease);
        
          &:hover {
            color:#ef5545;
        }
      }
    }
  }
}
